.projectsContainer {
  width: 100%;
  min-height: 100vh;
  background-color: $second-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: fade 2s ease;
  .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 50%;
    height: 90%;
    border-left: 2px solid $main-color;
    border-right: 2px solid $main-color;
    border-radius: 10px;
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 150px;
      text-align: center;
      margin: 20px;
      h1{
        font-size: 2.3rem;
        color: $main-color;
      }
      p{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.4rem;
      }
      a{
        color: $text-color;
        width: fit-content;
        background-color: $bg-color;
        height: fit-content;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
        transition: all .2s ease;
        &:hover{
          color: $main-color;
        }
      }
    }
  }
}
