.educationContainer {
    height: 100vh;
    width: 100%;
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      margin: 50px;
      font-size: 4rem;
      color: $text-color;
      animation: fade 2s;
      span {
        color: $main-color;
      }
    }
    .eachJourneyDiv {
      border-left: 2px solid $text-color;
      border-radius: 10px;
      width: 50%;
      height: 80%;
      margin: 40px auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: fade 2s;
      div {
        position: relative;
        width: 80%;
        height: 30%;
        border: 3px solid $main-color;
        border-radius: 10px;
        margin: 10px 20px;
        animation: loadLeft 2s;
        .header {
          display: flex;
          justify-content: flex-start;
          border: none;
          .icon {
            color: $main-color;
            width: 15px;
            height: 15px;
            margin: 0 10px 0 0;
          }
        }
        p {
          font-size: 1.5rem;
          color: $text-color;
        }
      }
    }
  }