.navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    margin-top: 0;
    padding: 15px 70px;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: fit-content;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(4px);
    animation: loadLeft 1.5s ease;
    h1 {
      font-size: 2.2rem;
    }
    .hamburger {
      position: relative;
      display: none;
      margin: 0 -20px;
      transition: all 1s ease;
      .hamIcon{
        width: 25px;
        height: 25px;
        &:hover{
          cursor: pointer;
        }
      }
      .dropDown{
        z-index: 500;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 200px;
        height: 200px;
        border: 2px solid $main-color;
        border-radius: 10px 0 10px 10px;
        background-color: $second-bg-color;
        animation: load .5s ease-in-out;
        opacity: .9;
        .close{
          width: 20px;
          height: 20px;
          margin: 10px;
          position: absolute;
          right: 0px;
          &:hover{
            cursor: pointer;
          }
        }
        .links {
          z-index: 501;
          margin: 10px;
          .eachlink {
            color: $text-color;
            margin: 0 20px;
            font-size: 1.2rem;
            font-weight: 600;
            transition: all 0.1s ease-out;
            &:hover {
              color: $main-color;
              cursor: pointer;
            }
          }
        }
      }
    }
    .links {
      margin: 10px;
      .eachlink {
        color: $text-color;
        margin: 0 20px;
        font-size: 1.2rem;
        font-weight: 600;
        transition: all 0.1s ease-out;
        &:hover {
          color: $main-color;
          cursor: pointer;
        }
      }
    }
  }