@media (max-width: 425px) {
    .navbar {
      h1 {
        margin: -2px -30px;
      }
      .links {
        display: none;
      }
      .hamburger {
        display: block;
      }
    }
  
    .main {
      margin: 70px auto;
      text-align: center;
      .intro {
        h1 {
          font-size: 2rem;
        }
      }
      .role {
        h1 {
          font-size: 1.8rem;
        }
      }
      p {
        width: 80%;
      }
      .buttonContainer {
        flex-direction: column;
        button {
          margin: 10px auto;
        }
      }
    }
    .projectsContainer {
      h1{
        text-align: center;
      }
      .projects {
        width: 90%;
        div {
          &:last-child{
            margin-bottom: 60px;
          }
          h1 {
            font-size: 1.6rem;
          }
          p{
            font-size: 1.1rem;
          }
        }
      }
    }
    .educationContainer {
      margin: 30px auto;
      margin-top: 0;
      h1{
        text-align: center;
      }
      .eachJourneyDiv {
        width: 90%;
        div {
          p {
            font-size: 1rem;
          }
        }
      }
    }
    .skillsContainer{
      .container{
        flex-direction: column;
        .leftContainer{
          width: 70%;
          height: fit-content;
          padding-bottom: 50px;
          h1{
            font-size: 2rem;
            width: 100%;

          }
          .codingSkills{
            margin-bottom: 40px;
            span{
              font-size: 1.4rem;
            }
          }
        }
        .rightContainer{
          width: 70%;
          height: fit-content;
          padding-bottom: 50px;

          h1{
            font-size: 2rem;
            width: 100%;
          }
          .softSkills{
            margin-bottom: 40px;
            span{
              font-size: 1.4rem;
            }
          }
        }
      }
    }
    .footerContainer{
      justify-content: center;
      align-items: center;
      h1{
        font-size: 1.5rem;
      }
    }
  }