@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #081b29;
  color: #ededed;
}

.body {
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  margin-top: 0;
  padding: 15px 70px;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: transparent;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  animation: loadLeft 1.5s ease;
}
.navbar h1 {
  font-size: 2.2rem;
}
.navbar .hamburger {
  position: relative;
  display: none;
  margin: 0 -20px;
  transition: all 1s ease;
}
.navbar .hamburger .hamIcon {
  width: 25px;
  height: 25px;
}
.navbar .hamburger .hamIcon:hover {
  cursor: pointer;
}
.navbar .hamburger .dropDown {
  z-index: 500;
  position: absolute;
  top: 30px;
  right: 8px;
  width: 100px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px 0 10px 10px;
  background-color: #112e42;
  animation: load 0.5s ease-in-out;
  box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.73);
}
.navbar .hamburger .dropDown .close {
  width: 20px;
  height: 20px;
  margin: 10px;
  position: absolute;
  right: 0px;
}
.navbar .hamburger .dropDown .close:hover {
  cursor: pointer;
}
.navbar .hamburger .dropDown .dropDownLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar .hamburger .dropDown .dropDownLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  text-align: center;
}
.navbar .hamburger .dropDown .dropDownLinks a:active {
  background-color: #081b29;
}
.navbar .hamburger .dropDown .links {
  z-index: 501;
  margin: 10px;
}
.navbar .hamburger .dropDown .links .eachlink {
  color: #ededed;
  margin: 0 20px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.1s ease-out;
}
.navbar .hamburger .dropDown .links .eachlink:hover {
  color: #00abf0;
  cursor: pointer;
}
.navbar .links {
  margin: 10px;
}
.navbar .links .eachlink {
  color: #ededed;
  margin: 0 20px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.1s ease-out;
}
.navbar .links .eachlink:hover {
  color: #00abf0;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 60px;
  min-height: 100vh;
  background-size: contain;
  animation: load 2s ease;
}
.main .intro h1 {
  font-size: 3.5rem;
}
.main .role h1 {
  color: #00abf0;
  font-size: 3rem;
  animation: animated 5s ease infinite;
}
.main p {
  text-align: center;
  width: 70%;
  margin: 50px 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.main .buttonContainer {
  display: flex;
  justify-content: left;
}
.main .buttonContainer button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 15px;
  width: 25rem;
  font-weight: 500;
  border: 1px solid #00abf0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  background-color: #00abf0;
  color: #ededed;
  z-index: 1;
  overflow: hidden;
}
.main .buttonContainer button:nth-child(2) {
  background-color: transparent;
}
.main .buttonContainer button:nth-child(2):hover::before {
  background-color: #00abf0;
}
.main .buttonContainer button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  transition: all 0.3s;
  z-index: -1;
}
.main .buttonContainer button:hover::before {
  width: 100%;
}
.main .buttonContainer button {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 15px;
}
.main .github {
  scale: 2;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.2s;
}

.projectsContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #112e42;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: fade 2s ease;
}
.projectsContainer .projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: 50%;
  height: 90%;
  border-left: 2px solid #00abf0;
  border-right: 2px solid #00abf0;
  border-radius: 10px;
}
.projectsContainer .projects div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  text-align: center;
  margin: 20px;
}
.projectsContainer .projects div h1 {
  font-size: 2.3rem;
  color: #00abf0;
}
.projectsContainer .projects div p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.4rem;
}
.projectsContainer .projects div a {
  color: #ededed;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #081b29;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  transition: all 0.2s ease;
}
.projectsContainer .projects div a:hover {
  color: #00abf0;
}

.educationContainer {
  height: 100vh;
  width: 100%;
  background-color: #081b29;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.educationContainer h1 {
  margin: 50px auto 0;
  font-size: 4rem;
  color: #ededed;
  animation: fade 2s;
}
.educationContainer h1 span {
  color: #00abf0;
}
.educationContainer .eachJourneyDiv {
  border-left: 2px solid #ededed;
  border-radius: 10px;
  width: 50%;
  height: 80%;
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade 2s;
}
.educationContainer .eachJourneyDiv div {
  position: relative;
  width: 80%;
  height: 30%;
  border: 3px solid #00abf0;
  border-radius: 10px;
  margin: 10px 20px;
  animation: loadLeft 2s;
}
.educationContainer .eachJourneyDiv div .header {
  display: flex;
  justify-content: flex-start;
  border: none;
}
.educationContainer .eachJourneyDiv div .header .icon {
  color: #00abf0;
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
}
.educationContainer .eachJourneyDiv div p {
  font-size: 1.5rem;
  color: #ededed;
}

.skillsContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #112e42;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 70px;
  padding-bottom: 20px;
}
.skillsContainer h1 {
  margin-top: 10px;
  font-size: 4rem;
  color: #ededed;
  animation: fade 2s;
}
.skillsContainer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  margin-top: 40px;
}
.skillsContainer .container .leftContainer {
  flex: 1;
  width: 100%;
  height: 500px;
  margin: 0 80px;
  text-align: center;
  border-left: 2px solid #00abf0;
  border-right: 2px solid #00abf0;
  border-radius: 10px;
}
.skillsContainer .container .leftContainer h1 {
  font-size: 3rem;
  padding: 20px;
  width: 100%;
}
.skillsContainer .container .leftContainer .codingSkills {
  display: flex;
  flex-direction: column;
}
.skillsContainer .container .leftContainer .codingSkills span {
  font-size: 20px;
  text-align: center;
  animation: loadLeft 1s ease;
}
.skillsContainer .container .rightContainer {
  width: 100%;
  flex: 1;
  height: 500px;
  margin: 0 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 2px solid #00abf0;
  border-right: 2px solid #00abf0;
  border-radius: 10px;
}
.skillsContainer .container .rightContainer h1 {
  font-size: 3rem;
  padding: 20px;
  width: 100%;
}
.skillsContainer .container .rightContainer .softSkills {
  display: flex;
  flex-direction: column;
}
.skillsContainer .container .rightContainer .softSkills span {
  font-size: 20px;
  text-align: center;
  animation: loadLeft 1s ease;
}

.footerContainer {
  width: 100%;
  height: 70px;
  margin-top: -40px;
  border-radius: 40px 40px 0 0;
  background-color: #081b29;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContainer span {
  color: #00abf0;
}

.flashUp {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1000;
}
.flashUp .pointer {
  scale: 4;
  animation: upDown 1s infinite;
  color: #ededed;
}
.flashUp .pointer:hover {
  cursor: pointer;
}

@keyframes animated {
  0% {
    color: #ededed;
  }
  50% {
    color: #00abf0;
  }
  100% {
    color: #ededed;
  }
}
@keyframes animatedBg {
  0% {
    background-color: #ededed;
  }
  50% {
    background-color: #00abf0;
  }
  100% {
    background-color: #ededed;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationY {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes load {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes loadLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes upDown {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}
@media (max-width: 768px) {
  .navbar h1 {
    margin: -2px -30px;
  }
  .navbar .links {
    display: none;
  }
  .navbar .hamburger {
    display: block;
  }
  .main {
    margin: 70px auto;
    text-align: center;
  }
  .main .intro h1 {
    font-size: 2rem;
  }
  .main .role h1 {
    font-size: 1.8rem;
  }
  .main p {
    width: 80%;
  }
  .main .buttonContainer {
    flex-direction: column;
  }
  .main .buttonContainer button {
    margin: 10px auto;
  }
  .projectsContainer .projects {
    width: 80%;
  }
  .projectsContainer .projects div {
    margin-bottom: 30px;
  }
  .projectsContainer .projects div:last-child {
    margin-bottom: 60px;
  }
  .projectsContainer .projects div h1 {
    font-size: 1.6rem;
  }
  .projectsContainer .projects div p {
    font-size: 1.1rem;
  }
  .educationContainer {
    margin: 30px auto;
    margin-top: 0;
  }
  .educationContainer .eachJourneyDiv {
    width: 90%;
  }
  .educationContainer .eachJourneyDiv div p {
    font-size: 1rem;
  }
  .skillsContainer {
    margin-bottom: 40px;
  }
  .skillsContainer .container {
    flex-direction: column;
    margin-top: 20px;
  }
  .skillsContainer .container .rightContainer {
    margin-top: 30px;
  }
  .footerContainer {
    justify-content: center;
    align-items: center;
  }
  .footerContainer h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 425px) {
  .navbar h1 {
    margin: -2px -30px;
  }
  .navbar .links {
    display: none;
  }
  .navbar .hamburger {
    display: block;
  }
  .main {
    margin: 70px auto;
    text-align: center;
  }
  .main .intro h1 {
    font-size: 2rem;
  }
  .main .role h1 {
    font-size: 1.8rem;
  }
  .main p {
    width: 80%;
  }
  .main .buttonContainer {
    flex-direction: column;
  }
  .main .buttonContainer button {
    margin: 10px auto;
  }
  .projectsContainer .projects {
    width: 90%;
  }
  .projectsContainer .projects div:last-child {
    margin-bottom: 60px;
  }
  .projectsContainer .projects div h1 {
    font-size: 1.6rem;
  }
  .projectsContainer .projects div p {
    font-size: 1.1rem;
  }
  .educationContainer {
    margin: 30px auto;
    margin-top: 0;
  }
  .educationContainer .eachJourneyDiv {
    width: 90%;
  }
  .educationContainer .eachJourneyDiv div p {
    font-size: 1rem;
  }
  .skillsContainer {
    margin-bottom: 40px;
  }
  .skillsContainer .container {
    flex-direction: column;
  }
  .skillsContainer .container .leftContainer h1 {
    font-size: 2rem;
    width: 100%;
  }
  .skillsContainer .container .leftContainer .codingSkills span {
    font-size: 1.4rem;
  }
  .skillsContainer .container .rightContainer h1 {
    font-size: 2rem;
    width: 100%;
  }
  .skillsContainer .container .rightContainer .softSkills span {
    font-size: 1.4rem;
  }
  .footerContainer {
    justify-content: center;
    align-items: center;
  }
  .footerContainer h1 {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */